/* seard styls */
:root{
    --black:#3A3A3A;
    --btn:#fff;
    --Text-Gray:#18191F;
    --Dark-Color:rgba(0, 0, 0, 0.87);
}
body{
    font-family: "Poppins";
    font-optical-sizing: auto;
}
/* nav bar styles */
header{
    margin: 20px 120px 0 120px;
}
.nav-h3{
    color: var(black);
    font-size: 24px;
    font-weight: 600;
}
.nav-bar ul{
    list-style: none;
    
}
.nav{
    display: flex;
    justify-content: space-between;
}
.nav-bar ul{
    display: flex;
}
.nav-bar li{
    color: var(--black);
    font-weight: 600;
    padding-left: 24px;

}
/* header banner styles*/
.banner-content h3{
    margin-top: 145px;
    color: var(--black);
    font-size: 52px;
    font-weight: 700;
}
.banner-content p{
    color: var(--black);
    font-weight: 600;
}
.banner-content button{
    color: var(--btn);
    border-radius: 41px;
    background: #E02C6D;
    padding: 10px 24px;
    
}
.banner-img{
    margin-top: 71px;
    background-image: url('../images/Circle\ design.svg');
    background-repeat: no-repeat;
}
.banner{
    display: flex;
    justify-content: space-between;
}
.logos{
    
    display: flex;
    justify-content: space-around;
}
     /*Popular Collection styles  */
.Popular-Collection{
    margin: 20px 120px;
}
.Popular-Collection-hedline{
    color: var(--black);
    text-align: center;
    font-size: 28px;
    font-weight: 600;
}
.Popular-prodact{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    gap: 30px;
}
.Popular-prodact-cotainar{
    border-radius: 5px;
    background: #FFF;
    box-shadow: 0px 0px 40px 0px rgba(0, 0, 0, 0.15);
}
.Popular-prodact-cotainar >div{
    padding:17px 15px 0 14px;
}
.Popular-prodact-cotainar h3{
    color: var(--Text-Gray);
    font-size: 28px;
    font-weight: 500;
    margin:16px 0 6px 0 ;
}
.Popular-prodact-cotainar h4{
    color: var(--Dark-Color);
    font-size: 24px;
    margin: 0;
}
.Popular-prodact-cotainar h6{
    border-radius: 5px;
    display: flex; 
    margin:0 0 6px 0;
}
.Popular-prodact-cotainar h6 >p{
    margin: 0;
}
.Popular-prodact-cotainar h6 >p{
    font-family: "Roboto", sans-serif;
    font-size: 14px;
    font-style: normal;
    font-weight: 700;
}
.Popular-prodact-cotainar >div >p{
    font-family: "Inter";
    font-size: 14px;
    font-style: normal;
    font-weight: 700;
}

/* media cwary mobail phone */
@media screen and (max-width:360px){
    header{
        margin: 20px;
    }
    .nav{
         flex-direction:column;
    }
    
    .banner{
        display:flex;
        flex-direction:column-reverse;

    }
}
